# Assignment 2. Crime and policing in Cambridge

<div style="background-color:red; color:white">TODO!</div>

Possible datasets
* Crime and policing real-time feed
* IMDb

In [ ]:
# Set up the grader as described in Section 0.3, with section='assignment3'
!pip install ucamcl
import ucamcl
GRADER = ucamcl.autograder('https://markmy.solutions/scicomp', section='assignment3')

In [6]:
import pandas
import urllib
import numpy as np
df = pandas.read_csv(urllib.request.urlopen('https://teachingfiles.blob.core.windows.net/founds/iris.csv'))

In [30]:
df['g'] = np.random.choice(['a','b'], size=len(df))

In [35]:
x = df.groupby(['Species','g']).apply(lambda g: np.mean(g['Petal.Length']))
x

Species     g
setosa      a    1.450000
            b    1.471429
versicolor  a    4.287500
            b    4.234615
virginica   a    5.608333
            b    5.500000
dtype: float64

In [49]:
x[:,'a']

Species
setosa        1.450000
versicolor    4.287500
virginica     5.608333
dtype: float64

In [48]:
x.reset_index(name='mean')

      Species  g      mean
0      setosa  a  1.450000
1      setosa  b  1.471429
2  versicolor  a  4.287500
3  versicolor  b  4.234615
4   virginica  a  5.608333
5   virginica  b  5.500000

In [44]:
x.unstack()

g                  a         b
Species
setosa      1.450000  1.471429
versicolor  4.287500  4.234615
virginica   5.608333  5.500000